@import "layout/var";

.train-blocks {
    &__item {
        &:nth-child(even){
            background: #FBFBFB;

            .block-head__text {
                background: #FBFBFB;
            }
        }
    }
}

.train-block {
    padding: 24px 0 10px 0;

    &__head {
        margin-bottom: 40px;
    }

    &__description {
        max-width: 800px;
        padding-left: 70px;
        margin-bottom: 40px;

        @media (max-width: 767px) {
            padding-left: 0;
        }

        p {
            font-size: 18px;
            line-height: 22px;
            text-align: justify;
            margin-bottom: 18px;
            color: $black;

            @media (max-width: 767px) {
                font-size: 16px;
                line-height: normal;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__photo-link {
        display: block;
        margin-bottom: 20px;
    }

    &__photo {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }

}

.block-head {
    position: relative;
    padding: 55px 0 55px 148px;

    @media (max-width: 767px) {
        padding: 55px 0 55px 20px;
    }

    &__cube {
        position: absolute;
        top: 0;
        left: 0;
        width: 175px;
        height: 100%;
        border: 25px solid $red;

        @media (max-width: 767px) {
            border: 10px solid $red;
        }
    }

    &__text {
        background: #fff;
        position: relative;
        z-index: 1;
        padding: 5px 0;
    }

    &__title {
        font-size: 30px;
        line-height: 36px; 
        color: $black;
        font-family: $mus900;

        @media (max-width: 767px) {
            font-size: 24px;
            line-height: normal;
            text-align: center;
        }
    }

    &__sub-title {
        font-size: 24px;
        line-height: 29px;
        color: $black;

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: normal;
            text-align: center;
        }

    }

    &--center {
        max-width: 700px;
        margin: 0 auto 40px auto;
        padding: 55px 0 55px 30px;

        .block-head__title {
            text-align: center;
        }
        .block-head__sub-title{
            text-align: center;
        }
        .block-head__text{
            padding: 10px 0;
        }
    }
}